.featureDiv2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0px;
  border-top: 1px solid rgb(216, 216, 216);
  border-bottom: 1px solid rgb(216, 216, 216);
}
